<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<style>
body {
	background-image: url('image/online-graduate-course-offerings.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
</style>
<script src="app.js" defer>
	
</script>
<link
	href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/flatly/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-mhpbKVUOPCSocLzx2ElRISIORFRwr1ZbO9bAlowgM5kO7hnpRBe+brVj8NNPUiFs"
	crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand" href="#">eRegistrar</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarColor01" aria-controls="navbarColor01"
		aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor01">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active"><a class="nav-link" href="#">Home
					<span class="sr-only">(current)</span>
			</a></li>
			<li class="nav-item"><a class="nav-link" href="#">Help</a></li>
			<li class="nav-item"><a class="nav-link" href="#">About</a></li>
		</ul>
	</div>
</nav>
<body>
	
	<h1 style="text-align: center; color:black">Welcome To eRegistrar</h1>
	<div class="container center_div">
		<section id="cover">
			<div id="cover-caption">
				<div id="container" class="container">
					<div class="row">

						<div class="col-md-4 offset-md-4 text-center">

							<div class="info-form">
								<form action="" class="form-group justify-content-center">
									<div class="form-group">
										<label class="sr-only">Email</label> <input type="text"
											class="form-control" placeholder="email.@miu.edu">
									</div>
									<div class="form-group">
										<label class="sr-only">Password</label> <input type="password"
											class="form-control" placeholder="password">
									</div>
									<button style="color:white;" type="submit" class="btn btn-primary">LogIn</button>
								</form>
							</div>
							<br>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

</body>
</html>